.v-app {
	background-color: red;
	outline: solid;
	height: 100dvh;
	width: 100dvw;
	margin: 0;
	padding: 0;
	align-content: center;
	justify-content: left;
}

.v-main {
	background-color: lightskyblue;
	outline: solid;
	height: 100dvh;
	width: 100dvw;
	margin: 0;
	padding: 0;
	align-content: center;
	justify-content: left;
}

.v-navigation-drawer {
	background-color: mediumaquamarine;
}

/* https://kdesign.co/blog/pastel-color-palette-examples/ */